*{
    box-sizing: border-box;
    margin:0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    padding:0;
}

.cabeza{
    display: flex;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    background: #1CD1B0;
    
    font-size: 15px;
    line-height: 18px;

    color: #333333;
}

.heroes{
    position: relative;
    display: flex;
    margin-bottom: 50px;
    width: 100%;
    height: 80px;
    left: 0px;
    flex-wrap: wrap;
    background: #00669F;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    justify-content: space-between;
    align-content: center;
    align-items: center;

}

.heroes-logo{
    display: flex;
    width: 99px;
    height: 74px;

}

.heroes-logo-mas{
    display: flex;
    margin-right: 20px;
    flex-wrap: wrap;
    align-items: center;
    font-size: 30px;
}

.heroes span ul{
    display: flex;
    width: 250px;
    justify-content: space-between;
    list-style-type: none;
}


.heroes span{
    display: flex;
    margin-right: 20px;
}



.descuento{
    padding: 10px 50px;
}




.apoyoMedia{
    display: flex;
    justify-content: space-evenly;
}
.paraMedia{
    display: flex;
}

@media (width <= 1550px) {
    .paraMedia{
        display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    flex: 60% 0 60%;
    justify-content: space-evenly;
    }  
}

@media (width <= 1300px) {
    .paraMedia{
        display: flex;
    flex-direction: row;
    height: fit-content;
    width: fit-content;
    flex-wrap: wrap;
    flex: 75% 0 75%;
    justify-content: space-evenly;
    }  
}

@media (width <= 650px) {
    .paraMedia{
        display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex: 0
     
    }  
}







.baraja{
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px 30px 100px 30px;
    background-color: #F3F3F3;
    width: 300px;
    text-align: center;
    align-items: center;
    justify-content: space-around;
}

.background_heroe{
    width: 100%;
    border-radius: 10px;
}

.cora{
    display: flex;
    position: absolute;
    top: 15px;
    left: 15px;
}

.centrado{
    display: flex;
    position: relative;
    border-radius: 100px;
    bottom: 25px;
    width: 40%;
    margin-top: -45px;
}

.textoCarta{
    padding: 10px;
    display: flex;
}

.botonCartaContenedor{
    margin: 30px 0 18px 0;
    text-align: center;
}


.botonCarta{
    color: white;
    background-color: #00669F;
    border: none;
    width: 128px;
    height: 50px;
    
}

.botonMainCont{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.botonMain {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #00669F;
  }
  
  .botonMain i {
    color: white;
    font-size: 62px;
  }
  



.foot {
    display: flex;
    background: #00669F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 61px;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
  }
  
  .contPie {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
  }
  
  .pie {
    display: flex;
    font-size: 16px;
    line-height: 19px;
    color: #FFF9F9;
  }
  
  .imgConten {
    display: flex;
    align-items: flex-end;
  }
  
  .imgGit {
    display: flex;
    width: 249px;
  }
  

.rectangulo-form1{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    margin-bottom: 30px;
}

.rectangulo-form2{
    width: 954px;
    height: 832px;
    border-radius: 50px;
    background-color: #00669F;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rectangulo-form2-4{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 300;
    font-size: 20px;
    line-height: 14px;
    color: #FFFFFF;
}

.rectangulo-form2-4 h1{
    font-weight: 700;
    font-size: 40px;
    line-height: 72px;
}

.rectangulo-form2 form{
    display: flex;
    flex-direction: column;
}

.rectangulo-form2 *{
    margin: 5px;
    border-radius: 15px;
    font-size: 20px;
    line-height: 24px;
    border: 1.53407px  rgba(0, 0, 0, 0.1);
}

.form-desc2{
    display: flex;
    align-items: stretch;
    width: 50%;
}



.form-desc-pod-tipo{
    display: flex;
}

.form-desc-pod-tipo{
    display: flex;
}

.form-pod-tipo{
    display: flex;
    flex-direction: column;
}

.form-pod-tipo div{
    display: flex;
    flex-direction: row;
}

.rectangulo-form2-5{
    display: flex;
}

.rectangulo-form3{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.botonaniadir{
    background-color: #1CD1B0;
    font-weight: 700;
    font-size: 40px;
    line-height: 44px;
    text-align: center;
}

input, select{
    padding: 20px;
}

label{
    display: flex;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}

.fecha-foto{
    display: flex;
    width: 100%;
}

#fecha, #descripcion{
    width: 100%;
}

#descripcion{
    padding: 10px;
}

.fecha-foto span{
    display: flex;
    width: 50%;
    align-content: center;
    align-items: center;
}